body {
	margin: 10px;
	/**background-image: url(../doc/common/background.png) repeat;*/
	background-image: url(background.png) ;
	background-color: white;
}

tr, p, div {
  font-family      : Verdana, Arial, Helvetica, sans-serif;
  font-size        : 12px;
  color            : #333333;
  text-align       : justify;
}

hr {
  background       : #999999;
  height           : 3px;
  width            : 100%;
}

a.pathway:link, a.pathway:visited {
  color            : #ff9900;
  font-weight      : normal;
}

a.pathway:hover {
  color            : #ff3300;
  font-weight      : normal;
  text-decoration   : none;
}

/*for title or site name*/
.title {
font-family: sans-serif;
font-size: 20px;
font-weight: bold;
color : #000000;
margin-left: 10px;
}

.title_menu {
font-family: sans-serif;
font-size: 10px;
font-weight: bold;
color : #666666;
text-transform: uppercase;
letter-spacing: 2px;
margin-left: 20px;
}



.small {
  font-family      : Verdana, Arial, Helvetica, sans-serif;
  font-size        : 10px;
  color            : #999999;
  text-decoration  : none;
  font-weight      : bold;
}

.smalldark {
  font-family      : Verdana, Arial, Helvetica, sans-serif;
  font-size        : 10px;
  color            : #000000;
  text-decoration  : none;
  font-weight      : normal;
}

.content {
  background       : #dedede;
}

.createdate {
  font-family      : Arial, Helvetica, sans-serif;
  font-size        : 10px;
  color            : #999999;
  text-align       : left;
}


.button {
  font-family      : Verdana, Arial, Helvetica, sans-serif;
  font-style       : normal;
  font-size        : 10px;
  font-weight      : bold;
  background-color : #F0F0F0;
  color            : #000000;
  border           : 1px solid #CCCCCC;
}

.inputbox {
  font-family      : Verdana, Arial, Helvetica, sans-serif;
  font-size        : 10px;
  color            : #000000;
  background-color : #F0F0F0;
  border           : 1px solid #CCCCCC;
}

a:link, a:visited {
color: #ff6600;
text-decoration: none;
}

a:hover {
color: #ff3300;
text-decoration: underline;
}

/* For content item titles that are hyperlink instead of Read On */
a.contentpagetitle:link, a.contentpagetitle:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
 	color: #ff9900;
	text-align:left;
	text-decoration: underline;
	}

a.contentpagetitle:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align:left;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
	}

a.category:link, a.category:visited {
  color            : #333333;
  font-weight      : bold;
  font-size: 11px;
font-weight: bold;
}

a.category:hover {
  color            : #999999;
}

/* Styles for dhtml tabbed-pages */
.ontab {
	background-color: #ffae00;
	border-left: outset 2px #ff9900;
	border-right: outset 2px #808080;
	border-top: outset 2px #ff9900;
	border-bottom: solid 1px #d5d5d5;
	text-align: center;
	/* Cannot use hand as its not a W3C CSS validator */
	/*	cursor: hand;*/
	font-weight: bold;
	color: #FFFFFF;
}
.offtab {
	background-color : #e5e5e5;
	border-left: outset 2px #E0E0E0;
	border-right: outset 2px #E0E0E0;
	border-top: outset 2px #E0E0E0;
	border-bottom: solid 1px #d5d5d5;
	text-align: center;
	/* Cannot use hand as its not a W3C CSS validator */
	/*	cursor: hand;*/
	font-weight: normal;
}

.tabpadding {
}

.tabheading {
	background-color: #ffae00;
	text-align: left;
}

.pagetext {
	visibility: hidden;
	display: none;
	position: relative;
	top: 0;
}

.message {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size : 10pt;
	color : #ff6600;
	text-align: center;
}

/* Javascript Back button */
.back_button {
	text-align: center;
	margin-top: 40px;
}

table.searchinto {
	width: 100%;
}

table.searchintro td {
	background-color: #293C43;
	color: #ffffff;
	font-weight: bold;
}

form {
/* removes space below form elements */
	margin: 0;
 	padding: 0;
}

.fctname
{
	font-style: italic;
	font-weight: bold;
}

.argname { font-style: italic; }
.classname { font-style: italic; } 

div#bottom-nav {
        position : relative;
        background-color: transparent;
        margin-top: 12px;
        height: 50px;
        background-image : url(bottom.png);
        background-repeat : repeat-x;
}

div.header {
        background-color: #F39C3D;
        background-image: url("headerbg.png");
}

div.header table {
        padding: 5px;
        margin: 5px
}

div.header table tr td h1 {
        color: white;
        font: bold 30pt courier;
        padding-top: 0.5em;
}


div.bottom {
        margin: 12px;
        font-size: 9pt;
        text-align: right;
}

div.bottom a {
        color: #aaaaaa
}


table .title
{
        background-image: url(background.png) repeat;
        vertical-align: bottom;
        width: 100%;
}

.toc
{
        padding: 10px 10px 10px 10px;
        margin: 10px 10px 10px 10px;
	background-color: black
}

.toc a
{
        text-decoration: none;
        color: black;
}

.toc a:hover
{
        text-decoration: underline;
}

td.editorial
{
        padding: 10px 10px 10px 10px;
        margin: 10px 10px 10px 10px;
	background-color:  black
        width: 30%;
        font-style: italic;
        font-size: smaller;
        text-align: justify;
}

.editorial .title
{
        background-image: none;
        font-style: normal;
        font-size: medium;
        text-align: center;
}

.toc .title
{
        background-image: none;
        font-size: large;
        text-align: left;
        text-decoration: underline;
}


.toc h1
{
        background-image: none;
        font-size: medium;
        text-align: center;
}

.toc h2
{
        background-image: none;
        font-size: smaller;
        text-align: center;
        text-indent: 20pt;
        margin-bottom: 2pt;
        margin-top: 2pt;
}

.toc h3
{
        background-image: none;
        font-size: smaller;
        text-align: center;
        text-indent: 40pt;
        margin-bottom: 0;
        margin-top: 0;
}

div#hgrad {
        height: 12px;
        background-image: url("gradient.png");
}

div.text {
        margin: 12px
}


h1 { 
	text-align: center; 
}

caption { 
	font-weight: bold 
	/*font-size: 24px*/
}


A.qindex {}
A.qindexRef {}
A.el { text-decoration: none; font-weight: bold }
A.elRef { font-weight: bold }
A.code { text-decoration: none; font-weight: normal; color: #4444ee }
A.codeRef { font-weight: normal; color: #4444ee }
A:hover { text-decoration: none; background-color: #ececec }
DL.el { margin-left: -1cm }

DIV.fragment { 
	width: 100%; 
	border: none; 
	background-color: none; 
	padding: 1px 
}

.fragment {
       font-family: Fixed, monospace;
       font-size: 95%;
}

PRE.fragment {
        border: 1px solid #CCCCCC;
        background-color: #f5f5f5;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-left: 2px;
        margin-right: 8px;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 4px;
        padding-bottom: 4px;
}


DIV.ah { background-color: navy; font-weight: bold; color: #ffffff; margin-bottom: 3px; margin-top: 3px }
TABLE.mdTable { background-color: #f8f8f8; border: .2em solid #d7d7d7; }
TD.mdRow { padding: 8px 20px; }
TD.md { font-weight: bold; }
TD.mdname1 { font-weight: bold; color: #602020; }
TD.mdname { font-weight: bold; color: #602020; width: 600px; }
DIV.groupHeader { margin-left: 16px; margin-top: 12px; margin-bottom: 6px; font-weight: bold }
DIV.groupText { margin-left: 16px; font-style: italic; font-size: smaller }

TD.indexvalue {
   background-color: #d3d3d3;
   font-style: normal;
   padding-right  : 10px;
   padding-top    : 2px;
   padding-left   : 10px;
   padding-bottom : 2px;
   margin-left    : 0px;
   margin-right   : 0px;
   margin-top     : 2px;
   margin-bottom  : 2px
}

TD.indexkey {
   background-color: #d3d3d3;
   font-weight: bold;
   padding-right  : 10px;
   padding-top    : 2px;
   padding-left   : 10px;
   padding-bottom : 2px;
   margin-left    : 0px;
   margin-right   : 0px;
   margin-top     : 2px;
   margin-bottom  : 2px
}


TD.memItemLeft {
   padding: 1px 0px 0px 8px;
   margin: 4px;
   border: solid .1em white;
   border-right-style: none;
   border-bottom-style: none;
   border-left-style: none;
   background-color: #d3d3d3;
}

TD.memItemRight {
   padding: 1px 0px 0px 8px;
   margin: 4px;
   border: solid .1em white;
   border-right-style: none;
   border-bottom-style: none;
   border-left-style: none;
   background-color: #d3d3d3;
}

