body {
    color: #0e0e0e;
    background: #ffffff;
    font-family: arial, verdana, tahoma, times new roman, serif; 
    font-style: normal;
    font-weight: normal;
}

#header {
    width: 535px;
    text-align: center;
    background: #eeeeee;
    border: 1px solid #bbbbbb;
    color: black;
    font-size: 14px;
    padding: 5px 5px;
    margin: 10px 10px;
    margin-left: auto;
    margin-right: auto;
}

#title {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#item {
    text-align: justify;
    border: 1px solid #cccccc;
    color: black;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#item-header {
    text-align: justify;
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 2px 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#item-data {
    text-align: justify;
    background: #ffffff;
    color: black;
    font-size: 14px;
    padding: 2px 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

img {
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}

#paragraph {
    width: 512px;
    text-align: justify;
    background: #eeeeee;
    border: 1px solid #bbbbbb;
    color: black;
    font-size: 13px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

#scene {
    width: 535px;
    text-align: center;
    border: 1px solid #bbbbbb;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#scene-item {
    text-align: justify;
    border: 1px solid #cccccc;
    color: black;
    font-size: 13px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#scene-header {
    text-align: justify;
    color: black;
    font-weight: bold;
    font-size: 13px;
    padding: 2px 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#scene-data {
    text-align: justify;
    background: #ffffff;
    color: black;
    font-size: 13px;
    padding: 2px 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
