[Desktop Entry]
Encoding=UTF-8
Name=Tupi: 2D Magic
Name[es]=Tupí: Magia 2D
Name[pt]=Tupí: Magia 2D
Name[ru]=Tupi: 2D Magic
Exec=/usr/local/tupi/bin/tupi
Icon=tupi.png
Type=Application
MimeType=application/tup;application/ntup;
Categories=Application;Graphics;2DGraphics;RasterGraphics;
Comment=2D Animation Toolkit
Comment[es]=Herramienta para Animación 2D
Comment[pt]=Ferramenta de animação 2D
Comment[ru]=Создание двухмерной векторной анимации
Terminal=false
