body {
     background-color:#ffffff;
}

.sponsors {
     background-color:#ffffff;
     background-image:url('file:thanks.png');
     background-repeat:no-repeat;
     background-position:center center;
}

.title {
     margin-left:10px;
     color:#000000;
     text-align:left;
     text-decoration:none;
     font-family:"Times New Roman", Times, serif;
     font-style:normal;
     font-size:12px;
     font-weight:normal;
}

.table {
     width:400px;
     background-color:#ffffff;
}

.line {
     width:400px;
     margin-left:auto;
     margin-right:auto;
}

.url {
     width:200px;
     color:#000000;
     text-align:center;
     text-decoration:none;
     font-family:"Times New Roman", Times, serif;
     font-style:normal;
     font-size:14px;
     font-weight:bold;
}

a:link 
{
text-decoration: none;
color:#000000;
}

a:visited 
{
text-decoration: none;
color:#000000;
}

a:active 
{
text-decoration: none;
color:#000000;
}

a:hover 
{
text-decoration: none;
color:#000000;
}
