body {
     background-color:#ffffff;
}

.tupi_background1 {
<<<<<<< HEAD
<<<<<<< HEAD
     background-image:url('/usr/local/tupi/share/data/help/images/bg1.png');
}

.tupi_background2 {
     background-image:url('/usr/local/tupi/share/data/help/images/bg2.png');
}

.tupi_background3 {
     background-image:url('/usr/local/tupi/share/data/help/images/bg3.png');
}

.tupi_background4 {
     background-image:url('/usr/local/tupi/share/data/help/images/bg4.png');
}

.tupi_background5 {
     background-image:url('/usr/local/tupi/share/data/help/images/bg5.png');
}

.tupi_background6 {
     background-image:url('/usr/local/tupi/share/data/help/images/bg6.png');
}

.tip_background00 {
     background-image:url('/usr/local/tupi/share/data/help/images/tip_bg01.png');
=======
     background-image:url('/Users/cristian/Projects/tupi_bin//share/data/help/images/bg1.png');
}

.tupi_background2 {
     background-image:url('/Users/cristian/Projects/tupi_bin//share/data/help/images/bg2.png');
}

.tupi_background3 {
     background-image:url('/Users/cristian/Projects/tupi_bin//share/data/help/images/bg3.png');
}

.tupi_background4 {
     background-image:url('/Users/cristian/Projects/tupi_bin//share/data/help/images/bg4.png');
}

.tupi_background5 {
     background-image:url('/Users/cristian/Projects/tupi_bin//share/data/help/images/bg5.png');
}

.tupi_background6 {
     background-image:url('/Users/cristian/Projects/tupi_bin//share/data/help/images/bg6.png');
}

.tip_background00 {
     background-image:url('/Users/cristian/Projects/tupi_bin//share/data/help/images/tip_bg01.png');
>>>>>>> Performing execution without environment variables for Mac OS X Lion
=======
     background-image:url('/Users/cristian/Projects/tupi_bin//share/data/help/images/bg1.png');
}

.tupi_background2 {
     background-image:url('/Users/cristian/Projects/tupi_bin//share/data/help/images/bg2.png');
}

.tupi_background3 {
     background-image:url('/Users/cristian/Projects/tupi_bin//share/data/help/images/bg3.png');
}

.tupi_background4 {
     background-image:url('/Users/cristian/Projects/tupi_bin//share/data/help/images/bg4.png');
}

.tupi_background5 {
     background-image:url('/Users/cristian/Projects/tupi_bin//share/data/help/images/bg5.png');
}

.tupi_background6 {
     background-image:url('/Users/cristian/Projects/tupi_bin//share/data/help/images/bg6.png');
}

.tip_background00 {
     background-image:url('/Users/cristian/Projects/tupi_bin//share/data/help/images/tip_bg01.png');
>>>>>>> db68347ab41ce3774cd55caccce84a7e00fc508c
     color:#000000;
}

.tip_background01 {
<<<<<<< HEAD
<<<<<<< HEAD
     background-image:url('/usr/local/tupi/share/data/help/images/tip_bg02.png');
=======
     background-image:url('/Users/cristian/Projects/tupi_bin//share/data/help/images/tip_bg02.png');
>>>>>>> Performing execution without environment variables for Mac OS X Lion
=======
     background-image:url('/Users/cristian/Projects/tupi_bin//share/data/help/images/tip_bg02.png');
>>>>>>> db68347ab41ce3774cd55caccce84a7e00fc508c
     color:#000000;
}

.tip_background02 {
<<<<<<< HEAD
<<<<<<< HEAD
     background-image:url('/usr/local/tupi/share/data/help/images/tip_bg03.png');
=======
     background-image:url('/Users/cristian/Projects/tupi_bin//share/data/help/images/tip_bg03.png');
>>>>>>> Performing execution without environment variables for Mac OS X Lion
=======
     background-image:url('/Users/cristian/Projects/tupi_bin//share/data/help/images/tip_bg03.png');
>>>>>>> db68347ab41ce3774cd55caccce84a7e00fc508c
     color:#000000;
}

.tupi {
     background-color:#ffffff;
<<<<<<< HEAD
<<<<<<< HEAD
     background-image:url('/usr/local/tupi/share/data/help/images/tupi.png');
=======
     background-image:url('/Users/cristian/Projects/tupi_bin//share/data/help/images/tupi.png');
>>>>>>> Performing execution without environment variables for Mac OS X Lion
=======
     background-image:url('/Users/cristian/Projects/tupi_bin//share/data/help/images/tupi.png');
>>>>>>> db68347ab41ce3774cd55caccce84a7e00fc508c
     background-repeat:no-repeat;
     background-position:left top;
     color:#000000;
}

.title {
     margin-left:10px;
     color:#000000;
     text-align:left;
     text-decoration:underline;
     font-family:"Times New Roman", Times, serif;
     font-style:normal;
     font-size:16px;
     font-weight:bold;
}

.subtitle {
     margin-left:9px;
     color:#000000;
     text-align:left;
     text-decoration:none;
     font-family:"Times New Roman", Times, serif;
     font-style:normal;
     font-size:16px;
     font-weight:bold;
}

.paragraph {
     margin-left:10px;
     margin-right:10px;
     color:#000000;
     text-align:justify;
     text-decoration:none;
     font-family:"Times New Roman", Times, serif;
     font-style:normal;
     font-size:14px;
     font-weight:normal;
}

.item {
     margin-left:0px;
     margin-right:10px;
     color:#000000;
     text-align:justify;
     text-decoration:none;
     font-family:"Times New Roman", Times, serif;
     font-style:normal;
     font-size:14px;
     font-weight:normal;
}

.code {
     margin-left:10px;
     margin-right:10px;
     color:#000000;
     text-align:justify;
     text-decoration:none;
     font-family:"Times New Roman", Times, serif;
     font-style:italic;
     font-size:14px;
     font-weight:normal;
}

.frame {
     width:405px;
     border-style:solid;
     border-width:1px;
     border-color:#cccccc;
}

.table {
     width:400px;
     background-color:#ffffff;
}

.line {
     width:400px;
     margin-left:auto;
     margin-right:auto;
}

.url {
     width:200px;
     color:#000000;
     text-align:center;
     text-decoration:none;
     font-family:"Times New Roman", Times, serif;
     font-style:normal;
     font-size:14px;
     font-weight:bold;
}

a:link {
     text-decoration:underline;
     color:#000000;
     font-weight:bold;
}

a:visited {
     text-decoration:underline;
     color:#000000;
     font-weight:bold;
}

a:active {
     text-decoration:underline;
     color:#000000;
     font-weight:bold;
}

a:hover {
     text-decoration:underline;
     color:#000000;
     font-weight:bold;
}

.big_title {
     color:#000000;
     text-align:center;
     text-decoration:none;
     font-family:"Times New Roman", Times, serif;
     font-style:normal;
     font-size:36px;
     font-weight:bold;
}

.status_table {
     background-color:#ffffff;
     color:#000000;
     margin-left:10px;
     margin-right:10px;
     margin-top:10px;
     margin-bottom:10px;
}

.twitter_status {
     background-color:#ffffff;
     color:#000000;
}

.desc_table {
     margin-left:10px;
     margin-right:10px;
     margin-top:10px;

     background-color:#ddeef6;

     color:#000000;
     text-align:left;
     text-decoration:none;
     font-family:"Times New Roman", Times, serif;
     font-style:normal;
     font-size:13px;
     font-weight:normal;
}

.twitter_desc {
     background-color:#ddeef6;
}

.twitter_base {
     margin-top:10px;
     margin-bottom:10px;
     margin-left:100px;
     margin-right:100px;
}

.date {
     margin-left:10px;
     color:#000000;
     text-align:left;
     text-decoration:none;
     font-family:"Times New Roman", Times, serif;
     font-style:normal;
     font-size:11px;
     font-weight:normal;
}

.twitter_headline {
     color:#000000;
     text-align:left;
     text-decoration:none;
     font-family:"Arial", Times, serif;
     font-style:normal;
     font-size:26px;
     font-weight:bold;
}

.twitter_logo {
     vertical-align:middle;
}

.twitter_header {
     border-style:solid;
     border-width:5px;
     border-color:#ff0000;
}

.twitter_slang { 
     margin-left:5px;
     margin-right:5px;
     margin-top:5px;
     margin-bottom:5px;
     background-color:#edfeff;
}

.twitter_slang_td {
     margin-left:5px;
     margin-right:5px;
     margin-top:5px;
     margin-bottom:5px;
     color:#000000;
     text-align:justify;
     text-decoration:none;
     font-family:"Arial", Times, serif;
     font-style:normal;
     font-size:10px;
     font-weight:normal;
}

.tupi_version {
     background-color:#f3f3f3;
     color:#000000;
     text-align:center;
     text-decoration:none;
     font-family:"Arial", Times, serif;
     font-style:normal;
     font-size:11px;
     font-weight:normal;
}

.tupi_update {
     background-color:#ff5d5d;
     color:#000000;
     text-align:center;
     text-decoration:none;
     font-family:"Arial", Times, serif;
     font-style:normal;
     font-size:11px;
     font-weight:normal;
}

.shortcut_table {
     padding:10px;
     border:2px solid #000000;
}

.shortcut_subtitle {
     padding:3px;
     text-align:center;
     text-decoration:none;
     font-family:"Arial", Times, serif;
     font-style:normal;
     font-size:12px;
     font-weight:bold;
}

.shortcut_record {
     padding:3px;
     text-align:center;
     text-decoration:none;
     font-family:"Arial", Times, serif;
     font-style:normal;
     font-size:10px;
     font-weight:normal;
}
