QWidget { 
    background-color: rgb(160,160,160) 
} 

QLineEdit, QSpinBox, QDoubleSpinBox, QComboBox, QTableView, QListWidget, QTextEdit { 
    background: rgb(200,200,200) 
}

QGraphicsView {
    background-color: rgb(80,80,80)
}
