body {
     background-color:#00ff00;
}

.title {
     margin-left:10px;
     color:#000000;
     text-align:left;
     text-decoration:underline;
     font-family:"Times New Roman", Times, serif;
     font-style:normal;
     font-size:16px;
     font-weight:bold;
}

.paragraph {
     margin-left:10px;
     color:#000000;
     text-align:left;
     text-decoration:none;
     font-family:"Times New Roman", Times, serif;
     font-style:normal;
     font-size:14px;
     font-weight:normal;
}
